#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

/ {
    combos {
        compatible = "zmk,combos";

        mb1 {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <18 17>;
        };

        up {
            bindings = <&kp UP_ARROW>;
            key-positions = <6 8>;
        };

        dw {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <16 18>;
        };

        le {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <6 7>;
        };

        ri {
            bindings = <&kp RIGHT_ARROW>;
            key-positions = <7 8>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        caps {
            bindings = <&kp CLCK>;
            key-positions = <20 21>;
        };

        dell {
            bindings = <&kp DEL>;
            key-positions = <5 6>;
        };

        lgui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <13 14>;
        };

        rgui {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <15 16>;
        };

        ex {
            bindings = <&kp EXCLAMATION>;
            key-positions = <24 7>;
        };

        sy {
            bindings = <&kp HASH>;
            key-positions = <11 5>;
        };

        do {
            bindings = <&kp DOLLAR>;
            key-positions = <12 8>;
        };

        pa {
            bindings = <&kp PERCENT>;
            key-positions = <9 10>;
        };

        an {
            bindings = <&kp LS(N6)>;
            key-positions = <10 12>;
        };

        ye {
            bindings = <&kp INT_YEN>;
            key-positions = <5 2>;
        };

        at {
            bindings = <&kp SLASH>;
            key-positions = <10 4>;
        };

        ub {
            bindings = <&kp LS(INT1)>;
            key-positions = <6 24>;
        };

        zero {
            bindings = <&kp KP_NUMBER_0>;
            key-positions = <26 27>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q          &kp W         &kp E  &kp R        &kp T                                                    &kp Y             &kp U    &kp I      &kp O       &lt 6 P
&kp A          &kp S         &kp D  &kp F        &kp G                                                    &kp H             &kp J    &kp K      &kp L       &kp MINUS
&kp X          &kp Z         &kp C  &kp V        &kp B                                                    &mt RIGHT_ALT N   &lt 5 M  &kp COMMA  &kp PERIOD  &kp QUESTION
&mt LCTRL ESC  &kp LEFT_ALT  &mo 3  &lt 1 SPACE  &lt 1 SPACE  &lt 2 LANG1      &mt RIGHT_SHIFT BACKSPACE  &lt 2 INT_HENKAN                                  &mt RIGHT_CONTROL ENTER
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        SYMBOL {
            bindings = <
&trans  &trans  &kp RIGHT_BRACKET      &kp BACKSLASH          &trans                      &kp RA(RIGHT_ARROW)  &kp PAGE_UP     &kp UP_ARROW    &kp HOME         &kp K_WWW
&trans  &trans  &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS  &trans                      &kp LA(LEFT_ARROW)   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RC(RS(T))
&trans  &trans  &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)      &trans                      &kp RC(F4)           &kp PAGE_DOWN   &kp F5          &kp END          &trans
&trans  &trans  &trans                 &trans                 &trans  &trans      &trans  &trans                                                                &kp ESC
            >;
        };

        NUM {
            bindings = <
&trans   &kp F2   &kp F3  &kp F4  &kp F5                              &kp SLASH             &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp SEMI
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10                             &kp LS(SINGLE_QUOTE)  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS
&kp F11  &kp F12  &trans  &trans  &trans                              &kp LS(SEMI)          &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD
&trans   &trans   &trans  &trans  &trans   &trans      &kp BACKSPACE  &kp KP_NUMBER_0                                                          &kp ENTER
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &mkp MB4                &kp UP_ARROW    &mkp MB5                 &trans                       &kp LG(LEFT_ARROW)          &kp LA(LEFT_ARROW)      &kp UP_ARROW    &kp RA(RIGHT_ARROW)      &kp RG(RIGHT_ARROW)
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END                      &kp LC(LS(TAB))             &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp RC(TAB)
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans                       &kp LA(LG(LC(LEFT_ARROW)))  &kp LA(LG(LEFT_ARROW))  &kp LA(LG(F))   &kp RG(RA(RIGHT_ARROW))  &kp RA(RC(RG(RIGHT_ARROW)))
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &kp BACKSPACE                                                                                &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans          &trans  &trans  &trans             &trans                                   &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans             &trans                                   &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans             &trans                                   &trans  &trans  &trans  &trans  &trans
&kp LA(C_QUIT)  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP      &trans  &trans                          &trans
            >;
        };

        CONFIG {
            bindings = <
&bt BT_CLR_ALL  &bt BT_CLR    &trans        &trans        &trans                            &trans  &trans  &bootloader  &trans  &trans
&trans          &trans        &trans        &trans        &trans                            &trans  &trans  &trans       &trans  &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &trans  &trans  &trans       &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans      &trans  &trans                               &trans
            >;
        };
    };
};
